/* Empty. Add your own CSS if you like */

/*Login Section*/
.login_container{
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

  .logo{
    width: 100%;
    height: 100%;
  }

    .logo img{
      display: block;
      margin: 0 auto;
      padding-top: 64px;
    }

  .access_form{
    position: absolute;
    bottom: 80px;
    min-width: 100%;
  }

    .input_login_form{
      width: 100%;
      height: 47px !important;
      border: 1px solid transparent !important;
      background-color: rgba(255, 255, 255, 0.8) !important;
      margin-bottom: 15px;
      color: #5E5E5E !important;
      font-size: 14px !important;
    }

    ::-webkit-input-placeholder {
       text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
       text-align: center;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       text-align: center;
    }

    :-ms-input-placeholder {
       text-align: center;
    }

      .center_text{
        text-align: center;
        color:#5E5E5E !important;
      }

    .blue_button{
      color: #fff;
      font-size: 16px;
      background-color: #6ECACE;
      width: 252px;
      height: 57px;
      border-radius: 40px;
      margin: 0 auto;
      border: none;
      display: block;
      font-weight: bold;
    }
/* End Login Section*/


/* Onboarding Section */
.onboarding{
  padding: 15px;
  background-color: #FFDD26;
}

  .onboarding_content{
    background-color: #fff;
    height: 100%;
    width: 100%;
  }

    .skip{
      color:#6ECACE;
      font-size: 12px;
      float: right;
      margin-top: 14px;
      margin-right: 14px;
      text-decoration: none;
      font-weight: bold;
    }

    .slide_section{
      clear: both;
      height: 500px;
      width: 260px;
      margin: 0 auto;
      top: 100px;
    }

    .onboarding_box{
      position: relative;
    }

      .onboarding_box img{
        display: block;
        margin: 0 auto 80px auto;
      }

      .onboarding_box p{
        color: #848484;
        font-size: 14px;
        text-align: center;
      }

      .box_fix_padding{
        margin-bottom: 20px !important;
      }

      .slider-pager{
        bottom: 100px !important;
      }
        .slider-pager .slider-pager-page{
          color:#6ECACE;
          opacity: 1 !important;
          margin: 0px 10px !important;
        }

        .slider-pager .slider-pager-page.active{
          color:#FFDD26 !important;
        }

        .blue_button_fix{
          position: absolute;
          bottom: -160px;
        }

/* End Onboarding Section*/

/* ColorBlind */
  .colorblind{
    position: relative;
  }

    .yellow_title_container{
      width: 100%;
      height: 44px;
      background-color: #FFDD26;
    }

    .yellow_title_container p{
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      padding: 10px 0px;
    }

    .colorblind_content{
      position: relative;
      width: 100%;
    }

    .colorblind_content img{
      margin: 40px auto 20px auto;
      display: block;
    }

    .divider{
      width: 80%;
      height: 1px;
      background-color: rgba(230, 230, 230, 0.6);
      margin: 0 auto;
    }

    .colorblind_question{
      position: relative;
      margin-top: 40px;
    }

      .colorblind_question p{
        color:#848484;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .colorblind_question ul{
        list-style: none;
        margin: 60px auto 0px auto;
        width: 300px;
        height: 40px;
      }

      .colorblind_question ul li{
        float: left;
        width: 100px;
        height: 27px;
      }

      .colorblind_question ul li p{
        text-align: center;
        color: #808080;
        font-size: 54px;
        font-weight: bold;
      }

      .item_borders{
        width: 98px !important;
        border-right: 1px solid rgba(230, 230, 230, 1);
        border-left: 1px solid rgba(230, 230, 230, 1);
      }
/* End ColorBlind*/

/* Mood Test*/
  .moodtest_container{
    position: relative;
    width: 100%;
  }

    .steps_number{
      color:#6ECACE;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin-top: 18px;
    }
/* End Mood Test*/
